<shpp-container>
  <ng-container navbar>
    <div class="d-flex flex-column flex-grow-1 min-w">
      <shpp-game-name class="d-flex" />
      <shpp-game-info class="d-flex" />
    </div>
    <shpp-nav-player-info />
  </ng-container>

  <ng-container content>
    <shpp-card-table class="flex-grow-1" />
    @if (showSummary) {
      <shpp-turn-summary class="bg-body-secondary" />
    }
    @if (!showSummary) {
      <shpp-card-picker class="bg-body-secondary" />
    }
  </ng-container>
</shpp-container>
